.card {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  .p-card {
    box-shadow: none !important;
  }
  .p-card-content {
    padding: 0 !important;
  }

  .p-card-body {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.increment_date_template {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  .increment_holder {
    margin-bottom: 20px;
  }

  .calendar_holder {
    display: flex;
    flex-direction: column;
  }

  label {
    font-size: 12px;
    text-align: left;
  }
}

.result_info {
  color: #374151;
  display: inline-block;
  padding: 5px 0;
  font-size: 18px;
}

.kilometers-result{
  margin-top: 25px !important;
}
